# This file is managed by Salt via salt://systemd/networkd/templates/profile.jinja

[NetDev]
Name=vxlan202
Kind=vxlan
    
[VXLAN]
Id=10202
Local=100.0.0.28
MacLearning=false
DestinationPort=4789
    
