.*
*.o
*.lo
*.la
*.a
*.log
*.tmp
*.dis
*~
*.orig
*.swp
*.swo
*.m4
*.kdev4
*.pyc

Makefile.in
Makefile
.deps
.libs
autom4te.cache
config.*
configure
install-sh
ltmain.sh
missing
depcomp
libtool
compile
m4
ar-lib
test-driver

/build-*
/build/*

!.gitignore
