.*
*~
*.a
*.dis
*.kdev4
*.la
*.lo
*.log
*.o
*.orig
*.pb.cc
*.pb.h
*.pyc
*.swo
*.swp
*.tmp

Makefile.in
Makefile
.deps
.libs

aclocal.m4
autom4te.cache
config.*
configure
VERSION
tags
libtool

build*

!.gitignore
!.copr
