[Unit]
Description=baseboxd
After=network.target

[Service]
Type=simple
ExecStart=/sbin/baseboxd $OPTIONS
EnvironmentFile=-/etc/sysconfig/baseboxd

[Install]
WantedBy=multi-user.target
