[Unit]
Description=baseboxd
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/sbin/baseboxd $OPTIONS
EnvironmentFile=-/etc/sysconfig/baseboxd
Restart=always

[Install]
WantedBy=multi-user.target
